.deposit_info {
    background: #fff;
    border: 2px solid #ce248a;
    color: #05012c;
    margin: 10px 0px 5px 0px;
    min-width: 180px;
    min-height: 100px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    padding: 10px;

    h3 {
        font-size: 18px;
        font-weight: 600;
        margin: 10px auto;
        color: $brand;
        padding: 0 2px;
    }

    p {
        margin: 5px;
        text-align: left;
        border-bottom: 1px solid #4a429742;
        display: inline-block;

        span {
            color: $brand;
            font-weight: 600;
        }
    }
}

.invest_info {
    margin-top: 20px;

    .info_wrap {
        background: #fff;
        border: 2px solid #ce248a;
        color: #05012c;
        margin: 5px auto;
        text-align: left;
        display: block;
        border-radius: 10px;
        padding: 15px 10px;
        width: 100%;


        p {
            text-align: left;
            margin: 10px;
            border-bottom: 1px solid #4a429742;
            display: block;

            span {
                color: $brand;
                font-weight: 600;
            }
        }

        .icon {
            text-align: center;
            font-size: 36px;
            color: $brand;
            margin-bottom: 5px;
        }

        .account_balance {
            text-align: center;
            font-size: 18px;
            border: none;

            span {
                color: $brand;
            }

        }

        .withdrawal_message {
            margin: 10px auto;
            display: block;
            width: 90%;
        }
    }
}

.funds_info {
    padding: 10px 0;
    margin: 10px;
    border: 2px solid $text;
    border-radius: 5px;
    background: linear-gradient(90deg, #7d1587 0%, #9e1b87 50%, #c2228a 100%);

    h5 {
        text-align: center;
        font-size: 18px;
        margin-bottom: 10px;
    }

    ul li {
        color: #000;
        padding: 8px;
        background: #fff;
        margin: 20px;
        border-radius: 7px;
    }
}

.boxed_btn {
    width: 150px;
    height: 50px;
    padding: 12px;
    background: #ce248a;
    -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    border-radius: 2px;
    display: block;
    margin: 20px auto;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: $brand_2;

    }
}

.select_plan {
    text-align: center;
    display: block;
    background: #ce248a;
    color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}